version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      github:
        patterns:
          - "actions/*"

  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "daily"
